.container {
    background: url(/static/img/pexels-shvets-production-7196106.mp4) no-repeat center center;
    background-color: white;
    background-size: cover;
    background-position: center;

}


