body {
    width: 100%;
    background-image: url('/static/img/beige_login_register.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: start;
    font-size: 4rem;
    margin-top: 11vh;
}

h4 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: start;
    font-size: 3rem;
    margin: 5vh;
    text-align: center;
    
}

/* #login {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
} */

/* #password {
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
} */

/* #submit {
    text-align: center;
    margin-top: 20px;
} */

#reroute {
    color: white;
    text-align: center;
}

#register {
    color: white;
    text-decoration: none; 
}

#email {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

a {
    position: relative;
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
  }
  
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  a:hover::before {
    transform: scaleX(1);
  }


  /* remove the input box styling */
label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
  }
  
  /* once you click in the input the input width box animates */
  
  label input:focus {
    max-width: 100%;
    width: 400px;
  }
  
  /* the text floats up and turns white */
  
  label input:focus + .label-text {
    color: #F0F0F0;
    font-size: 13px;
    margin-top: 10px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }
  
  /* the text floats up during form validation */
  
  label input:valid + .label-text {
    font-size: 13px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }
  
form {
    text-align: center;
    text-align: center;
    border: 1px solid white;
    padding: 30px;
    padding: 30px;
    /* margin: 0 auto;
    width: 250px; */
}

div.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }



  
  button {
    background: transparent;
    color: #F0F0F0;
    border: transparent;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 75px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  button:hover, button:focus {
    background-color: white;
    color: #333333;
  }