{% extends 'base.html' %}


{% block body %}

<h2>Create new reward type</h2>

<form class='add-reward', method='POST', action="/adding_reward">
  <div>
      <label>Reward type</label>
      <input type="text" name="reward_type">
  </div>
  <div>
      <label>Required number of points</label>
      <input type="number" name="reward_cost">
  </div>
  <div>
    <input hidden type="text" name="bu_username" value={{ session.get('_user_id') }}>  
</div>
  <div>
      <button type="submit">add reward</button>
  </div>
</form>

<p> 
  <a href="/directory/{{ bu_id }}">return to directory</a>
  <br>
  <a href="/rewards/{{ bu_id }}">see your rewards</a>
</p>

{% endblock %}