{% extends 'base.html' %}


{% block title %} add client transaction {% endblock %}

{% block body %}


<h2>Create a transaction for the client</h2>


<form class='add-transaction' method='POST' action="/new_transaction">
    <div>
    <!-- default date date -->
      <label>Transaction Date</label>
      <input type="date" name="transaction_date">
    </div>
     <!-- appointment type -->
     <label>Appointment Type</label>
     <input type="text" name="appointment_type" required>
    <div>
      <label>Total Cost</label>
      <input type="number" name="total_cost" required>
    </div>
    <div>
        <input hidden type="text" name="client_id" value={{ clients.client_id }}>
    </div>
    <div>
        <input type="submit" value="add transaction" class="btn btn-primary">
    </div>
</form>


<!-- LOOK INTO/RETURN TO SQLALCHEMY CHAINING 10/16 8:53PM -->
<p> 
  
  <a href="/client_profile/{{ bu_id }}/ {{ clients.client_id}}">
  return to client profile</a>
</p>


{% endblock %}