<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}GLOW UP{% endblock %}
    </title>

    <!-- jQuery -->
    <script
      src="http://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"></script>

    <!-- Boostrap CSS -->      
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">
    

      {% block head %}

  <link rel="stylesheet"
        href="/static/css/general_style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

  {% endblock %}
    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 40px;
        width: 100%;
        color: black;
        text-align: center;
        background-image: url('/static/img/sakura.png');
        background-repeat: repeat;
}

    </style>

    


  </head>


  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        {% if session['_user_id'] %}
          <a class="navbar-brand" href="/directory/{{ bu_id }}">GlowUp</a>

        {% else %}
          <a class="navbar-brand" href="/">GlowUp</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {% if session['_user_id'] %}
              <a class="nav-link active" aria-current="page" href="/directory/{{ bu_id }}">Home</a>
            </li>
            <li class="nav-item">
              <!-- <a class="nav-link" href="{{ bu_id }}">Link</a> -->
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                go to...
              </a> 
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/new_client/{{ bu_id }}">add client</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/rewards/{{ bu_id }}">rewards</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/settings/user_profile/{{bu_id }}">account settings</a></li>
              </ul>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          
          <a class="navbar-brand" href="{{url_for('logout')}}">logout</a>

          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          {% endif %}

        </div>
      </div>
    </nav>

    {% for msg in get_flashed_messages() %}

    <p class="flash-msg alert-info">

      {{ msg }}

    </p>

  {% endfor %}

      <!-- <h1>
        GlowUp
      </h1> -->
        {% block body %}BODY CONTENT GOES HERE{% endblock %}
      <br> 

      <div class="footer">
        <p>Suffering since 2021</p>

      </div>
        {% block after_body %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
    crossorigin="anonymous"></script>
    
    {% block script %}{% endblock %}
  </body>
</html>
