{% extends 'base.html' %}

{% block title %} {{clients.client_name}} {% endblock %}

{% block body %}
<h2>Client Profile</h2>

<h3> Client Name: {{clients.client_name}} </h3>

<p>Reward Points: </p>

<p>Rewards Available: </p>

<h3>
    <a href="/add_transaction/{{ clients.client_id }}">add client transaction</a>
</h3>

<h3>{{ clients.client_name }}'s' transactions</h3>
{% for transaction in transactions %}
  {% if transaction.client_id == clients.client_id %}
  <p>
    Transaction Date: {{ transaction.transaction_date}} <br>
    Appointment Type: {{ transaction.appointment_type }} <br>
  </p>

  {% endif %}
{% endfor %}


<p> 
  <a href="/directory/{{ transactions.business_user_id }}">return to directory</a>
</p>

{% endblock %}