{% extends 'base.html' %}

{% block title %} {{client.client_name}} {% endblock %}





{% block body %}
<!-- <div
class="row align-items-center justify-content-center
       static-height cover-photo"
>
<div class="col-5">
  <h4>client</h4>
</div>
</div> -->
<!-- 
{% for client_reward in client.client_reward %}
  {{ client_reward.reward.reward_type }}
  {{ client_reward.reward.reward_cost }}
{% endfor %} -->
  
<section class="container mt-4">
  

  <div class="row align-items-center justify-content-evenly static-height">
        
    <div class="col-4">

      <h3>Client Profile</h3>

      <div class="box-points">

        <h6> {{client.client_name}} </h6>
        <p>{{client.client_name}}'s points: {{client.reward_point}} <br>
          <a href="/edit_rewards/{{ bu_id}}/{{ client.client_id }}">edit reward points</a>
        </p>
      </div>

    </div>

  <div class="col-4">

    
    <h6 class="transaction">transactions</h6>

    <p>
      <a class="add-trans" href="/add_transaction/{{ bu_id }}/{{ client.client_id }}">add client transaction</a>
    <!-- <a href="{{ url_for('transaction', bu_id=business_user.id, client_id=client.client_id) }}">add client transaction</a> -->
    </p>
    <div class="scroll">
    {% for transaction in transactions %}
      {% if transaction.client_id == client.client_id %}

   <p>
      Transaction Date: {{ transaction.transaction_date}} <br>
      Appointment Type: {{ transaction.appointment_type }} <br>
      Cost: ${{ transaction.total_cost }}  
    </p>

      {% endif %}
    {% endfor %}

</div>

</section>
<p class="returnto"> 
  <a href="/directory/{{ bu_id }}">return to directory</a>
</p>
{% endblock %}