{% extends 'base.html' %}

{% block title %}{{ business_user.bu_name }}'s Page{% endblock %}

{% block body %}
<h2>Welcome {{ business_user.bu_name }}!</h2>
<p>{{ business_user.bu_email }}</p>
<a href="{{url_for('logout')}}">logout</a>
<h3>
    User Profile:
</h3>
<!-- {{ business_user.bu_pic_path }} -->
<img src={{ business_user.bu_pic_path }}>

<h3>Your Clients</h3>
<p>
    <a href="{{ url_for('new_client', bu_id=business_user.id) }}">add a new client</a>
</p>
<ul>
    {% for client in clients %}
        {% if client.id == business_user.id %}
        <!-- print({{ business_user.id }}) -->
          <li>
            <a href="{{ url_for('client_profile', bu_id=business_user.id, client_id=client.client_id) }}">
              {{ client.client_name }}
            </a>
          </li>
        {% endif %}      
    {% endfor %}
</ul>

<h3>Your Rewards</h3>
<p>
  <a href="{{ url_for('rewards_page', bu_id=business_user.id) }}">current rewards</a>
</p>

<!-- RETURN TO 10/14 -->
<!-- <h3>
    <a href="/add_transaction/{{ clients.client_id }}"></a>

</h3> -->

{% endblock %}

