{% extends 'base.html' %}

{% block title %}{{ business_user.bu_name }}'s Page{% endblock %}

{% block body %}
<h2>Welcome {{ business_user.bu_name }}!</h2>
<h2>{{ business_user.bu_email }}</h2>
<h3>
    User Profile:
</h3>
<!-- {{ business_user.bu_pic_path }} -->
<img src={{ business_user.bu_pic_path }}>

<h2>Your Clients</h2>
<h3>
    <a href="/new_client">add a new client</a>
</h3>
<ul>
    {% for client in clients %}
        {% if client.business_user_id == business_user.business_user_id %}
          <li>
            <a href="/clients/{{ client.client_id }}">
              {{ client.client_name }}
            </a>
          </li>
        {% endif %}      
    {% endfor %}
</ul>

<h2>Your Rewards</h2>
<h3>
  <a href="/rewards">rewards</a>
</h3>
<!-- RETURN TO 10/14 -->
<!-- <h3>
    <a href="/add_transaction/{{ clients.client_id }}"></a>

</h3> -->

{% endblock %}

