{% extends 'base.html' %}

{% block title %}{{ business_user.bu_name }}'s Page{% endblock %}




{% block body %}


<div class="row align-items-center justify-content-center
       static-height cover-photo">
  <div class="col-5">
    <h3>good to see you again.</h3>
  </div>
</div>




<section class="container mt-4">




  <div class="row align-items-start">
    <div class="col-4">
      <div id="profile" class="box-directory">

        <h3 id="user-text">
          {{ business_user.bu_name }}
        </h3>

        <p id="bu_email">{{ business_user.bu_email }}</p>

        <img id="profile" src={{ business_user.bu_pic_path }}>
        
        <section id="hello">
            <form>
              <p>
                <button class="btn custom-button-1" type="submit">say hello!</button>
              </p>
            </form>
        </section>

      </div>
    </div>


    <div class="col">
      <h3 id="your-clients">Your Clients</h3>
        <p>
          <a class="hyperlink" href="/new_client/{{bu_id}}">add a new client</a>
        </p>

 
      <ul class="list-text" id="unordered-list">
        {% for client in clients %}
          {% if client.id == business_user.id %}
            <li class="align">
              <a class="hyperlink" href="/client_profile/{{bu_id}}/{{client.client_id}}">
                {{ client.client_name }}
              </a>
              <br>
            </li>
          {% endif %}      
        {% endfor %}
      </ul>

    </div>

    <div class="col">
      <h3 id="rewards">Rewards</h3>
      <p>
        <a href="/rewards/{{bu_id}}">current rewards</a>
      </p>
    </div>

  </div>
</section>

<!-- <section id="hello">
  <form>
    <p>
      <button type="submit">say hello!</button>
    </p>
  </form>
</section> -->

<script src="/static/js/alert.js"></script>



{% endblock %}

