{% extends 'base.html' %}

{% block title %} {{client.client_name }}'s available rewards {% endblock %}


{% block body %}


<section class="container mt-4">

  <h4>edit {{client.client_name}}'s points</h4>



  <div class="row align-items-center justify-content-evenly static-height">
    <div class="col"></div>
      <div class="col">


        <div id="profile" class="box-edit-rewards">


          <!-- <p>
            Reward Points: <span id="points-add-counter">0</span> 
          </p> -->


          <!-- OK....SO I DO HAVE TO USE EVENT LISTENERS -->

      
        <table> <table>

          <tr>
            <div class="table-head">
            <th>Service</th>
            <th colspan="10">Point</th>
          </div>

              {% for reward in rewards %}
                {% if reward.id == business_user.id %}
          </tr>
  
          <tr>
            <td>
              {{ reward.reward_type }}
            </td>
            <td>
              {{ reward.reward_cost }}
            </td>
              {% endif %}
            {% endfor %}
          </tr>     
        
          <tr>
            <td> 
              <form class="point-form" action="/adjusting_points" id="submit-form" method="post">
                <div>
                  <input hidden type="text" id="client_id" name="client" value="{{ client.client_id }}">
                  <input hidden type="text" id="bu_id" name="bu" value="{{ business_user.id }}">
                  <!-- <p> -->
                  <input type="number" id="num_point" name="bu" value="1">
                  <br>
                  <div>
                  <button type="submit" class="enter btn custom-button-1" id="add-to-points" name="plus-count">submit</button>
                </div>
                  <!-- different types of submit button, everytime form submits -->
                  <!-- different button that is not submit -->
                <!-- </p> -->
                </div>
              </form>
            </td>
          </tr>
  
        </table>

          <div>
            Current Point Total: <span id="reward-total-counter">{{client.reward_point}}</span>
          </div>



        </div>
    </div>
    <div class="col"></div>
  </div>
</section>

<p class="returnto"> 
  <a href="/directory/{{ bu_id }}">return to directory</a>
</p>

<script src="/static/js/prevent_evt.js"></script>

{% endblock %}

