{% extends 'base.html' %}

{% block title %} {{client.client_name }}'s available rewards {% endblock %}

{% block body %}

<header>
  <h2>edit {{client.client_name}}'s Rewards</h2>
</header>

<!-- <p>
  Reward Points: <span id="points-add-counter">0</span> 
</p>

<p>
  Rewards Available: <span id="reward-number">0</span> 
</p> -->

<main>
  <section id="menu">
    <h3>transactions</h3>
    <table> <table>
      <tr>
        <th>Service</th>
        <th colspan="10">Point</th>
        {% for reward in rewards %}
          <tr>
            <td>
              {{ reward.reward_type }}</td>
            <td>{{ reward.reward_cost }}</td>
          </tr>     
        {% endfor %}
          <tr>
                <td>
                    <button class="add-to-points">
                        add
                        <!-- JINJA -->
                    </button>
                </td>
            </tr>
  
    </table>  
  </section>

<br>
  <section id="total-reward">
<br>
      <table>
          <thead>
              <tr>
                  <th>Reward Bank</th>
              </tr>
          </thead>
          <tbody id="total-rewards"></tbody>
      </table>
      <h3>
          <div>
              Total: <span id="reward-total-counter">0</span>
          </div>
          <br>
          <div>
              <button id="place-order">Redeem Reward</button>
          </div>
      </h3>
  </section>

</main>

<script src="/static/js/point_adder.js"></script>

{% endblock %}