{% extends 'base.html' %}

{% block title %} HausStar {% endblock %}

{% block body %}
  
  <div>
    <h2>Welcome.</h2>
  </div>
    
  <div>
    {% if session['login'] %}
    <p>Welcome {{ name }}!</p>
  </div>

    {% else %}
    
    <h2>Log In</h2>
    <form action="/login" method="POST">
      <p>
        Email <input type="email" name="login-email">
      </p>

      <p>
        Password <input type="password" name="login-password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>


    <h3>
      <a href="/register">No Account?</a>
    </h3>
    

  {% endif %}
{% endblock %}

{% block js %}

{% endblock %}
