{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet"
      href="/static/css/index_style.css">
{% endblock %}

{% block body %}

<video id="background-video" autoplay loop muted poster="/static/img/poster_img.png">
  <source src="/static/img/pexels-shvets-production-7196106.mp4" type="video/mp4">
</video>
<h1>GlowUp</h1>


<!-- <div class="mx-auto" style="width: 1000px;"> -->
  <!-- <div class="container-fluid"> -->
    <!-- <div class="row"> -->
      <!-- <div class="col-9">
      <div class="d-flex justify-content-center">
        <h2> 
          GlowUp
        </h2>
      </div> -->
      <!-- </div> -->
    <!-- </div>
  </div> -->
<!-- </div> -->

{% if session['username'] %}


{% else %}

<div class="d-flex justify-content-center"> 

  <a href="{{ url_for('login') }}" id="test" class="links">login</a>

          
  <!-- <p id="test">hello world</p> -->

  <br>

</div>

<br>
  <div class="d-flex justify-content-center"> 
<a href="{{ url_for('register') }}" id="test" class="links">don't have an account? sign up!</a>

</div>

{% endif %}    


{% endblock %}