{% extends 'base.html' %}

<!-- {% block title %} GlowUp {% endblock %} -->

{% block head %}

  <link rel="stylesheet" href="/static/css/login_register.css">

{% endblock %}

{% block body %}



<section class="container mt-4">

  <div class="row">
    <h2>welcome.</h2>
  </div>

    {% if session['login'] %}

    {% else %}

  <h4>Log In</h4>
<div class="container">
  <form action="/login_form" method="POST">

    <label>
      <div id="login">
        {{ form.hidden_tag() }}
        {{ form.bu_username }}
      </div>

      <div id="password">
        {{ form.bu_password }}
      </div>

    
    </label>
 
    <div id="submit">
      {{ form.submit }}
      <br>
    </div>


  </form>
</div> 
  <br>

  <div id="reroute">
    <p>
      <a id="register" href="{{ url_for('register') }}">No Account? No problem.</a>
    </p>
  </div>


    {% endif %}
 
</section>
{% endblock %}

{% block js %}

{% endblock %}
