{% extends 'base.html' %}

<!-- {% block title %} GlowUp {% endblock %} -->

{% block head %}

<link rel="stylesheet"
      href="/static/css/login_register.css">

{% endblock %}

{% block body %}
<div id="whole-page">
  <div class="container">
  <div class="row">
    <h2>welcome.</h2>
  </div>
    
  <div>
    {% if session['login'] %}
    
  </div>

    {% else %}
    
    <h4>Log In</h4>
    <form action="/login_form" method="POST">
      <div id="login">
        {{ form.hidden_tag() }}
        {{ form.bu_username }}
      </div>
      <div id="password">
      {{ form.bu_password }}
      </div>

      <div id="submit">
      {{ form.submit }}
      <br>
      </div>
      <!-- <p>
        Email <input type="email" name="login-email">
      </p>

      <p>
        Password <input type="password" name="login-password">
      </p>

      <p>
        <input type="submit">
      </p> -->
    </form>
    <br>
    <div id="reroute">
    <p>
      <a id="register" href="{{ url_for('register') }}">No Account? No problem.</a>
    </p>
    </div>
    <div class="row">
      <div class="col-6">
      </div>
    </div>
    

  {% endif %}
  </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
