{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/css/login_register.css">
{% endblock%}

{% block body %}
<section class="container mt-4">
  <h4>register user</h4>
  <div class="row">
  </div>
      <!-- {% with messages = get_flashed_messages() %}
      {% if messages %} -->
  <!-- <div class="notification is-danger"> -->
        <!-- {{ messages[0] }} Go to <a href="{{url_for('login') }}">login page</a> -->
  <!-- </div> -->
      <!-- {% endif %}
      {% endwith%} -->
  <div class="container">
    <label>
      <form class="user-registration" method="POST" action="/register">
        {{ form.hidden_tag() }}
      
        <div id="email">
      
        {{ form.bu_email }}
        <br>
        {{ form.bu_username }}

        <!-- {% for field, errors in form.errors.items() %} 
          <small class="form-text text-muted ">
            {{ ', '.join(errors) }}
          </small>
        {% endfor %} -->
        <br>
      
        {{ form.bu_password_original }}
    
        <br>
        {{ form.bu_name }}
    
        <br>
        {{ form.bu_business }}
    
        <br>
        {{ form.bu_pic_path}}

        </div>
    </label>
  <!-- </div>
  </div> -->

  <button id="submit">
      {{ form.submit }}
      <br>
  </button>
</div>

  </form>
<div class="container">
  <a id="reroute" href="{{ url_for('login') }}">already have an existing account?</a>
 
</div>

</section>
  {% endblock %}