{% extends 'base.html' %}

{% block body %}

<!-- see what is being returned from session.get -->
<!-- <p>{{ session.get('bu_email')}}</p> -->
<form class="new-client" method="POST" action="/new_client_signup">
      <div>
        <label>Client Name</label>
        <input type="text" name="name" required>
      </div>
      <div>
        <label>Client Email</label>
        <input type="email" name="email" required>  
      </div>
      <div>
        <input hidden type="text" name="bu_username" value={{ session.get('bu_username') }}>  
      </div>
    <div>
      <input type="submit" value="add client" class="btn btn-primary">
    </div>
  </form>

  <!-- {{session.get('bu_username')}} -->

  <p> 
    <a href="{{ url_for('directory', bu_id=business_user.id) }}">return to directory</a>
    <!-- <a href="/directory/{{ business_user.business_user_id }}">return to directory</a> -->
  </p>

{% endblock %}