{% extends 'base.html' %}




{% block body %}
<!-- <div
class="row align-items-center justify-content-center
       static-height cover-photo"
>
<div class="col-5">
  <h4>add new client</h4>
</div>
</div> -->
<section class="container mt-4">
  <h4>add new client</h4>
  <div class="row align-items-center justify-content-evenly static-height">
    <div class="col"></div>
    <div class="col">
      <div id="profile" class="box-add-clients">
        <form class="new-client" method="POST" action="/new_client_signup">

          <div class="entry box-section">

            <div class="entry label">
              <label>Client Name</label>
            </div>

            <input type="text" name="name" required>
          </div>

          <div class="entry box-section">
            <div class="entry label">
              <label >Client Email</label>
            </div>
            <input type="email" name="email" required>  
            
          </div>
          <input hidden type="text" name="bu_username" value={{ bu_id }}>  
          <p>
            <input type="submit" value="add client" class="btn custom-button-1">
          </p>
        </form>
      </div>
    </div>     
    <div class="col"></div>  
  </div>

  <!-- {{session.get('bu_username')}} -->

  <p class="returnto"> 
  <!-- <a href="{{ url_for('directory', bu_id=business_user.id) }}">return to directory</a> -->
  <a href="/directory/{{ bu_id }}">return to directory</a>
  </p>
  
</section>
  {% endblock %}