{% extends 'base.html' %}

{% block body %}

<h4>Your reward programs</h4>

<p>
  <a href="/add_rewards/{{ bu_id }}">add new reward</a>
  <!-- <a href="{{ url_for('add_reward', bu_id=business_user.id) }}">add new reward</a> -->
</p>

<form id="delete-form", method="post", action="/deleting_reward">
<ul>
  {% for reward in rewards %}
    {% if reward.id == business_user.id %}
      <li>
        {{ reward.reward_type }} {{ reward.reward_cost }} <input type="radio" id="reward" value={{reward.reward_id}}>
 
        <br>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<button onclick="alert('reward deleted')" type="submit">delete</button>
</form>

<script src="/static/js/delete_reward.js"></script>
{% endblock %}
