{% extends 'base.html' %}

{% block body %}

<h4>Your reward programs</h4>

<p>
  <a href="/add_rewards/{{ bu_id }}">add new reward</a>
  <!-- <a href="{{ url_for('add_reward', bu_id=business_user.id) }}">add new reward</a> -->
</p>

<!-- <section id=> -->
  <form id="delete-form" method="POST" action="/deleting_reward">
  <ul>
    {% for reward in rewards %}
      {% if reward.id == business_user.id %}
        <li>
          {{ reward.reward_type }} {{ reward.reward_cost }} <input type="radio" name="reward_id" value="{{reward.reward_id}}">
          <br>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <!-- <button id="delete-button" type="submit">delete</button> -->
  <button onclick="alert('reward deleted')" type="submit">delete</button>
  </form>
<!-- </section> -->

<p>
  <a href="/directory/{{ bu_id }}">return to directory</a>
  <!-- <a href="{{ url_for('add_reward', bu_id=business_user.id) }}">add new reward</a> -->
</p>

{% endblock %}
